<header class="w-full h-20 flex items-center justify-between bg-black px-8">
  <img src="assets/logos/logo.svg" alt="" />
  <nav>
    <ul class="flex items-center justify-end gap-8">
      <li class="relative group">
        <a href="/" class="text-white text-p2 group-hover:text-primary transition-all">Home</a>
        <div class="w-0 h-[1px] absolute left-0 bottom-0 bg-primary group-hover:w-full transition-all"></div>
      </li>
      <li class="relative group">
        <a href="/portfolio" class="text-white text-p2 group-hover:text-primary transition-all">Portfólio</a>
        <div class="w-0 h-[1px] absolute left-0 bottom-0 bg-primary group-hover:w-full transition-all"></div>
      </li>
      <li class="relative group">
        <a href="/blog" class="text-white text-p2 group-hover:text-primary transition-all">Blog</a>
        <div class="w-0 h-[1px] absolute left-0 bottom-0 bg-primary group-hover:w-full transition-all"></div>
      </li>
    </ul>
  </nav>
</header>
