<section class="w-fit flex flex-col items-center justify-center gap-2">
  <h2 class="text-2xl text-white">Componentes jhoowcodes</h2>
  <button (click)="openModal('modal1')" class="py-4 px-8 bg-primary text-white">
    Abrir Modal 1
  </button>
  <button (click)="openModal('modal2')" class="py-4 px-8 bg-primary text-white">
    Abrir Modal 2
  </button>
  <app-modal [id]="'modal1'" [isOpen]="isModalOpen('modal1')">
    <!-- Conteúdo do modal aqui -->
    <h2 class="text-xl font-semibold">Título do Modal</h2>
    <p>Algum conteúdo aqui...</p>
  </app-modal>

  <app-modal [id]="'modal2'" [isOpen]="isModalOpen('modal2')">
    <!-- Conteúdo do modal aqui -->
    <h2 class="text-xl font-semibold">Outro Modal</h2>
    <p>Ola eu sou o outro modal.</p>
  </app-modal>
</section>
